
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .silex-id-1475472157150-2 {
            min-height: 573px; 
            top: 100px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1475472157150-2 {
            min-height: 568px; 
        }
        }.silex-id-1475472157150-1 {
            min-height: 100px; 
            background-color: rgb(255, 255, 255); 
            top: 0px; 
            left: 0px; 
            width: 1403px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1475472157150-1 {
            top: 0px; 
            left: 0px; 
            width: 1380px; 
        }
        }.silex-id-1475472033779-0 {
            min-height: 169px; 
            width: 319px; 
            top: 37px; 
            left: 68px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1475472033779-0 {
            left: 51px; 
            top: 46px; 
            width: 413px; 
            min-height: 169px; 
        }
        }.silex-id-1474394605264-1 {
            min-height: 94px; 
            top: 100px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394605264-1 {
            min-height: 166px; 
        }
        }.silex-id-1474394605263-0 {
            min-height: 100px; 
            background-color: transparent; 
            top: 1px; 
            left: 203px; 
            width: 960px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394605263-0 {
            top: 0px; 
            left: 0px; 
            width: 1432px; 
        }
        }.silex-id-1442914737143-3 {
            min-height: 36px; 
            width: 960px; 
            top: 37px; 
            left: 1px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1442914737143-3 {
            top: 605px; 
            left: 1px; 
            width: 481px; 
            min-height: 36px; 
        }
        }
    